body {
    font-family: sans-serif;
}
body {
    font-family: sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Play:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: "Play", sans-serif;
    background-color: rgb(21,21,21);
}

body {
    font-family: sans-serif;
}
.epicgames{
    width: 50px;
    height: 80;
    position: absolute;
    top: 15px;
    left: 80px;
    display: flex;
    justify-content: center;
}
    iframe{
        width: 400px;
        height: 200px;
        margin-left: 00px;
        margin-top: 20px;
        border-radius: 10px;
    }
    h1{
        color: white;
        text-align: center;
    }
    .p1{
        color: white;
        font-size: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
    }
.divp1{
    color:white;
    font-size: 30px;
}
main{
text-align: center;
    margin: 0 auto;
    background-color: rgb(75, 74, 74);
    width: 900px;
    border-radius: 20px;
} 
.fixed{
    width: 200px;
    height: 700px;
    background-color: rgb(21,21,21);
    position: fixed;
    right: 0;
    top: -1px;
    border: 1px double white;
}
.divp2{
    color: white;
    margin-top: 250px;
    font-size: 30px;
    margin-right: 100px;
}
.fixed1{
    width: 200px;
    color: white;
    background-color: rgb(21,21,21);
    position: fixed;
    top: -1px;
    height: 900px;
    border: 1px solid rgb(255, 255, 255);
    left: -1px;
}
.divp3{
    color: rgb(252, 253, 253);
    background-color: rgb(123, 122, 122);
    width: 150px;
    height: 40px;
    padding-top: 17px;
    padding-left: 10px;
    margin-top: 120px;
    margin-left: 30px;
    border-radius: 10px;
}
.divp4{
    color: rgb(252, 253, 253);
    background-color: rgb(21,21,21);
    width: 150px;
    height: 40px;
    padding-top: 17px;
    padding-left: 10px;
    margin-top: 0px;
    margin-left: 30px;
    border-radius: 10px;
}
.divp4:hover{
    background-color: rgb(123,122,122);
    transition: 1s;
}
.a1{
    color: black;
    margin-top: 20px;
    vackground-color: light-blue;
    border-radius: 10px;
    fonr-size: 20px;
}
